<table>
    <thead>
        <tr>
            <th>
                Candidate_Name
            </th>
            <th>
                Email
            </th>
            <th>
                Password
            </th>
            <th>
                Phone
            </th>
            <th>
                Qualification
            </th>
            <th>
                Experience
            </th>
            <th>
                Expected_Salary
            </th>
            <th>
                Current_Salary
            </th>
            <th>
                Current_CompanyName
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let detail of AllCandidate">
          <td>
            {{detail.candidate_name}}
          </td>
          <td>
            {{detail.email}}
          </td>
          <td>
            {{detail.phone}}
          </td>
          <td>
            {{detail.qualification}}
          </td>
          <td>
            {{detail.experience}}
          </td>
          <td>
            {{detail.expected_salary}}
          </td>
          <td>
            {{detail.current_salary}}
          </td>
          <td>
            {{detail.current_company_name}}
          </td>
          <td>
            {{detail.resume}}
          </td>
        </tr>
    </tbody>
</table>
