<div class="bg-primary w-100">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
    </div>
    <!-- navbar-header-->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li class="active">
                <button class="navbar-toggle collapse in" data-toggle="collapse" id="menu-toggle-2"> <span
                        class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
                </button>
            </li>
        </ul>
    </div>
    <!-- bs-example-navbar-collapse-1 -->
    <div id="wrapper">
        <div id="page-content-wrapper">
            <div class="container-fluid xyz">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="text-uppercase font-weight-bold text-light text-center">JobSeeker</h1>
                    </div>
                </div>
            </div>
        </div>
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav nav-pills nav-stacked" id="menu">
                <li class="active">
                    <a href="#"><span class="fa-stack fa-lg pull-left"><i
                                class="fa fa-dashboard fa-stack-1x "></i></span> Admin</a>
                    <!-- <ul class="nav-pills nav-stacked" style="list-style-type:none;">
                        <li><a href="#">link1</a></li>
                        <li><a href="#">link2</a></li>
                    </ul> -->
                </li>
                <li>
                    <a href="#"><span class="fa-stack fa-lg pull-left"><i
                                class="fa fa-flag fa-stack-1x "></i></span>Candidate</a>
                    <!-- <ul class="nav-pills nav-stacked" style="list-style-type:none;">
                        <li><a href="#"><span class="fa-stack fa-lg pull-left"><i
                                        class="fa fa-flag fa-stack-1x "></i></span>link1</a></li>
                        <li><a href="#"><span class="fa-stack fa-lg pull-left"><i
                                        class="fa fa-flag fa-stack-1x "></i></span>link2</a></li>
                    </ul> -->
                </li>
                <li>
                    <a href="#"><span class="fa-stack fa-lg pull-left"><i
                                class="fa fa-cloud-download fa-stack-1x "></i></span>Overview</a>
                </li>
                <li>
                    <a href="#"> <span class="fa-stack fa-lg pull-left"><i
                                class="fa fa-cart-plus fa-stack-1x "></i></span>Events</a>
                </li>
                <li>
                    <a href="#"><span class="fa-stack fa-lg pull-left"><i
                                class="fa fa-youtube-play fa-stack-1x "></i></span>About</a>
                </li>
                <li>
                    <a href="#"><span class="fa-stack fa-lg pull-left"><i
                                class="fa fa-wrench fa-stack-1x "></i></span>Services</a>
                </li>
                <li>
                    <a href="#"><span class="fa-stack fa-lg pull-left"><i
                                class="fa fa-server fa-stack-1x "></i></span>Contact</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- 1-Page Content -->
    </div>
</div>




<!-- <mat-toolbar color="accen" >
    <h1><b> JobSeeker </b></h1>
    
    <div>
  
    <button mat-menu-item [matMenuTriggerFor]="adminMenu" > ADMIN </button>
            <mat-menu #adminMenu="matMenu">
                <button mat-menu-item routerLink="/admin"> Register</button>
                <button mat-menu-item routerLink="/admin"> Login</button>
                
            </mat-menu>
    </div>

    <div>
  
  
    <button mat-menu-item [matMenuTriggerFor]="candidateMenu" > CANDIDATE  </button>
            <mat-menu #candidateMenu="matMenu">
                <button mat-menu-item routerLink="/Candidate"> Register</button>
                <button mat-menu-item routerLink="/Candidate"> Login</button>
                
            </mat-menu>
    </div>
  
  
</mat-toolbar> -->











<!-- <!DOCTYPE html>
<html lang="en">
<head>
    
    <title>JobSeeker</title>
</head>
<body>
    <div class = "home">
    <ul>
        <li>Admin</li>
        <li>Candidate</li>
    </ul>
</div>
</body>

   

    

</html> -->